<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mixailsednev.githubrepo.mvptabletphone"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:name=".CasebookApplication"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".CasesActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".filter.FilterActivity"
        android:label="@string/title_activity_filter"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <provider
        android:name=".model.CaseBookContentProvider"
        android:authorities="com.mixailsednev.githubrepo.mvptabletphone.CaseBook"
        android:enabled="true"
        android:exported="false">
    </provider>
  </application>

</manifest>